#grid{
    position: relative;
}

.block{
    position: absolute;
    width: 30px;
    height: 30px;

    text-align: center;
    line-height: 26px;

    box-sizing: border-box;
    border: 2px solid white;

    font-size: 16px;
    font-weight: bold;
    color: white;
}

.colortag{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 16px;
    color: white;
    font-weight: bold;
}

.grid-div{
    position: absolute;
    margin: 10px;
}